body {
	font-family: "Helvetica Neue";
	font-size: 20px;
	font-weight: normal;
}

h1 {
	text-align: center;
}

section {
	margin: 50px auto;
	div {
		max-width: 255px;
		word-wrap: break-word;
		margin-bottom: 20px;
    	line-height: 20px;
	}
}

#sigdata{
	font-size: 10px;
    font-family: Terminus,Consolas,Profont,"Andale Mono",Monaco,Inconsolata,Inconsolata-g,
         Unifont,Lime,"ClearlyU PUA",Clean,"DejaVu Sans Mono","Lucida Console",
         "Bitstream Vera Sans Mono",Freemono,"Liberation Mono",Dina,Anka,Droid Sans Mono,
         Anonymous Pro,Proggy fonts,Envy Code R,Gamow,Courier,"Courier New",Terminal,monospace;
}


.clear {clear: both}

.to {
	position:relative;
	padding:10px 20px;
	color:white; 
	background:#008080;
	border-radius:25px;
	float: right;
		

}
.from {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
  	float: left;
		
}